#home {
    background-image: url(h_img.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 10px;
    padding-top: 50px;
    color: aliceblue;
}
.services {
    background-image: url(s_image.jpg);
    background-size: cover;
    color: aliceblue;
    height: 500px;
    padding-top: 50px;
}
.contact{
    background-image: url(c_image.jpg);
    background-size: cover;
    color: aliceblue;
}
body{
    text-align: center;
}
.input{
    flex-direction: column-reverse;
}
#MERGE1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #MERGE0{
    width: 30%;
  }
  #comment{
    margin-left: 20%;
    width: 60%;
  }
  button{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;  
  }
  input[type=text],input[type=email],#comment{
    background-color: transparent;
    font-size: 20px;
    font-family: 'Copse', serif;
    color: white;
  }
  .design-content, .development-content, .management-content{
    display: none;
  }

.par, .par2, .par3, .par4, .par5, .par6, .par7, .par8 {
  display: none;
  top: 50%;
  padding-top: 20px;
  left: 5px;
  color: black;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  font-weight: bold;
  text-align: center;
}