#home {
    background-image: url(h_img.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 10px;
    padding-top: 50px;
    color: aliceblue;
}
.services {
    background-image: url(s_image.jpg);
    background-size: cover;
    color: aliceblue;
    height: 500px;
    padding-top: 50px;
}
.contact{
    background-image: url(c_image.jpg);
    background-size: cover;
    color: aliceblue;
}
body{
    text-align: center;
}
.input{
    flex-direction: column-reverse;
}
#MERGE1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #MERGE0{
    width: 30%;
  }